@import url('https://fonts.googleapis.com/css?family=Overlock');

body{
	background-color: #feed01;
}

.txt-remerciement{
	margin-top: 3em; 
	text-align: center;
	font-family: 'Overlock',cursive;
	font-weight: bold; 
	font-size: 40px;
}

footer{
	background-color: #fff;
	margin-top: 8em;
}

.toutes-les-images {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo-cci, .logo-cci img{
	width:200px;
	height:200px;
}

.logo-rodez, .logo-rodez img{
	width:200px;
	height:200px;
}

.logo-agglo, .logo-agglo img{
	width:250px;
	height:250px;
}

.logo-en, .logo-en img{
	width:200px;
	height:100px;
}